.more-info {
    height: 300px;
    background-color: #1c1d24;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
}

.more-scroll {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    column-gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}


.more-img {
    width: 300px;
    height: 200px;
    border: 5px solid gray;
}

.more1 .more-img {
    background-image: url(../Images/comunication.webp);
    background-size: cover;
    background-position-x: 30%;
}

.more2 .more-img {
    background-image: url(../Images/time-management.jpeg);
    background-size: cover;
}

.more3 .more-img {
    background-image: url(../Images/creativity.jpeg);
    background-position-x: 20%;
    background-size: cover;
}

.more1, .more2, .more3 {
    display: flex;
    flex-direction: row;
}

.more-in {
    margin-left: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.more-in h4, .more-info p {
    margin: 0;
    color: white;
}

.more-in h4 {
    margin-top: 20px;
}

.more-in {
    font-size: 1.2em;
}

.more-in p {
    font-size: 0.8em;
    color: gray;
    margin-top: 20px;
}

.arrow-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}

.arrow-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow-buttons button img {
    width: 40px;


}

.left-button-arrow img{
    transform: rotate(180deg);
}


@media (max-width: 1200px) {
    .more-scroll {
        grid-auto-columns: 61%;
    }
}

@media (max-width: 900px) {
    .more-scroll {
        grid-auto-columns: 71%;
    }
    .arrow-buttons {
        width: 450px;
    }
}

@media (max-width: 700px) {
    .more-scroll {
        grid-auto-columns: 81%;
    }
    .arrow-buttons {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .more-scroll {
        grid-auto-columns: 91%;
    }
    .more-info {
        padding: 0 30px;
    }
    .more-in h4 {
        font-size: 0.8em;
    }
    .more-in p {
        font-size: 0.6em;
    }
    .arrow-buttons {
        width: 300px;
    }
}


@media (max-width: 460px) {
    .more-scroll {
        grid-auto-columns: 100%;
    }
    .more-info {
        padding: 0 20px;
    }
    .arrow-buttons {
        width: 250px;
    }
}

