.portfolio {
    background-color: #1c1d24;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

#portfolio {
    padding-bottom: 100px;
    background-color: #131416;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    column-gap: 30px;
    color: white;
    row-gap: 30px;
}

.portfolio-header {
    font-size: 3.2em;
    font-weight: bold;
    margin: 0;
    border-bottom: 5px solid #d78c00;
    padding-bottom: 10px;
    border-bottom-style: wave;
}

.portfolio-header + p {
    color: gray;
    font-size: 1em;
    margin: 20px 0;
}

.java-scrolling {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.java-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.java-buttons button {
    margin: 10px 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}

.container11, .container44, .container22, .container33 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.con1 {
    background-color: #1c1d24;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
    width: 380px;
    margin: 0 auto;
}

.con1:hover h3 {
    color: orange;
    border-left: 3px solid #ce8500;
    padding-left: 5px;
    transform: translateX(10px);
    margin-right: 0;
}


.con1__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/web.jpeg);
    background-position-x: 40%;
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con2__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/coding.jpeg);
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con3__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/design.jpeg);
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con4__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/photography.jpeg);
    background-position-x: 30%;
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con5__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/travel.jpeg);
    background-position-x: 60%;
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con6__img{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    background-image: url(../Images/gym.jpeg);
    background-position-x: 60%;
    background-size: cover;
    transition: 0.5s;
    opacity: 0.5;
}

.con1:hover > div {
    opacity: 1;
    transform: translateY(-5px);
}

.con1 h3, .con1 p {
    margin: 0 0 10px 0;
    font-size: 0.9em;
    color: gray;
    transition: 0.5s;
}

.con1 h3 {
    font-size: 1.2em;
    color: white;
}

.java-buttons button:nth-of-type(1) {
    border-bottom: 2px solid orange;
}

.container22, .container44, .container33 {
    display: none;
}

@media (max-width: 1300px) {
    .edu-sub {
        font-size: 0.6em;
    }
    .edu-name {
        font-size: 0.8em;
    }
    .edu-year {
        font-size: 0.7em;
    }
    .container11, .container44, .container22, .container33 {
        grid-template-columns: 1fr 1fr;
    }
    .education, .experience, .skills {
        height: 80%;
    }
}

@media (max-width: 1050px) {
}

@media (max-width: 900px) {
    .container11, .container44, .container22, .container33 {
        grid-template-columns: 1fr;
    }
    .con1__img, .con2__img, .con3__img, .con4__img, .con5__img, .con6__img {
        width: 300px;
        height: 350px;
    }
    .con1 {
        width: 300px;
    }
}

@media (max-width: 750px) {

    .java-buttons button {
        font-size: 0.8em;
        margin: 10px;
    }
    .portfolio-header {
        font-size: 2.8em;
    }
    .portfolio-header + p {
        font-size: 0.9em;
        margin: 0;
    }

}